* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: #f8f5f2;
}

$dark-color: #ad795b;
$semidark-color: #cf9f78;
$light-color: #f8f5f2;

// .scard-1{background-color: rgb(235 152 152 / 49%);}
// .scard-2 {background-color: rgb(138 225 237 / 52%);}
// .scard-3{background-color: rgb(237 245 97 / 57%);}
// .scard-4{background-color: rgb(115 249 161 / 38%)};

.b-btn {
  border-radius: 37px;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 17px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
}

.b-btn-primary {
  background: linear-gradient(90deg, #cf9f78 0%, #cf9f78 100%) border-box;
  // border-color: transparent;
  color: #f8f5f2;
  transition: 0.5s ease-in-out;
}
.b-btn-primary:hover {
  background: rgb(155 73 25 / 78%);
  // border-color: #CF9F78;
  color: #f8f5f2;
  // transition: 0.5s linear all;
}
.heading {
  font-size: 59px;
  font-weight: 800;
  color: $dark-color;
  text-transform: capitalize;
}
.paragraph {
  font-size: 18px;
  font-weight: 400;
  color: #e1b07f;
  text-transform: capitalize;
}

$color_1: $light-color;
$color_2: #ffffff;
$color_3: $dark-color;
$font-family_1: 500;
$background-color_1: $dark-color;
$background-color_2: $light-color;

// <--- Header Section --->

.header-section {
  top: 0;
  left: 0;
  right: 0;
  position: fixed !important;
  margin: auto;
  width: 100%;
  z-index: 2 !important;
}
.header-top {
  display: flex;
  background-color: $dark-color;
  padding: 8px 68px;
}
.header-contact {
  width: 50%;
  display: flex;
  gap: 2rem;
  img {
    width: 22px;
    height: 20px;
    border: 1px solid $light-color;
    border-radius: 50%;
    padding: 2px;
    &:hover {
      filter: brightness(0) invert(1);
    }
  }
  a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      font-weight: 400;
    }
  }
}
.header-mail {
  display: flex;
  gap: 0.5rem;
}
.header-call {
  display: flex;
  gap: 0.5rem;
}
.header-links {
  width: 50%;
  display: flex;
  justify-content: right;
  margin-right: 12px;
  h5 {
    font-size: 15px;
    color: $light-color;
    padding: 0px 14px;
  }
}
.media-links {
  ul {
    display: flex;
    gap: 8px;
    cursor: pointer;
    li {
      list-style: none;
      img {
        width: 22px;
        height: 20px;
        border-radius: 50%;
        padding: 2px;
        border: 1px solid $light-color;
        &:hover {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
.header-main {
  display: flex;
  background-color: $light-color;
  padding: 0px 40px;

  .header-logo {
    width: 40%;
    padding: 9px 0px;
    img {
      width: 74px;
    }
  }
  .header-nav {
    width: 60%;
    padding: 11px 0px;
    display: flex;
    justify-content: flex-end;
    .navbar {
      display: flex;
      ul {
        list-style: none;
        display: flex;
        padding: 14px 10px;
        li {
          a {
            text-decoration: none;
            margin: 0px 15px;
            text-transform: capitalize;
            font-size: 17px;
            color: $dark-color;
            font-weight: 400;
          }
          .active {
            // color: red !important;
            font-weight: 700;
            font-size: 17px;
            // font-family: $font-family_1;
          }
          .header-menu {
            background-image: linear-gradient(
              to right,
              #cf9f78,
              #cf9f78 50%,
              #ad795b 50%
            );
            background-size: 200% 100%;
            background-position: -100%;
            display: inline-block;
            // padding: 5px 0;
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
            &:before {
              content: "";
              background: #ad795b;
              display: block;
              position: absolute;
              bottom: -3px;
              left: 0;
              width: 0;
              height: 3px;
              transition: all 0.3s ease-in-out;
            }
            &:hover {
              background-position: 0;
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
