@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f8f5f2;
}

.scard-1 {
  background-color: rgba(231, 186, 186, 0.15);
}

.scard-2 {
  background-color: rgba(138, 225, 237, 0.19);
}

.scard-3 {
  background-color: rgba(237, 245, 97, 0.23);
}

.scard-4 {
  background-color: rgba(115, 249, 161, 0.19);
}

.white-bg {
  background-color: #ffffff;
}

.b-btn {
  border-radius: 37px;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 17px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  text-transform: capitalize;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}

.b-btn-primary {
  background: linear-gradient(90deg, #cf9f78 0%, #cf9f78 100%) border-box;
  color: #f8f5f2;
}

.b-btn-primary:hover {
  background: rgba(155, 73, 25, 0.78);
  color: #f8f5f2;
}

.b-btn-secondary {
  background: linear-gradient(90deg, #f8f5f2 0%, #f9ede0 100%) border-box;
  color: #ad795b;
}

.b-btn-secondary:hover {
  background: #f8f5f2;
  border-color: #cf9f78;
  color: #ad795b;
}

.heading {
  font-size: 50px;
  font-weight: 800;
  color: #ad795b;
  text-transform: capitalize;
}

.paragraph {
  font-size: 17px;
  font-weight: 400;
  color: #e1b07f;
  text-transform: capitalize;
}

.hero-section .sw-con {
  padding: 0vw 3vw;
  background-color: #f8f5f2;
  height: 85vh;
  margin-top: 17vh;
}
.hero-section .sw-con .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-section .sw-con .swiper .swiper-slide {
  display: flex;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-section .sw-con .swiper .swiper-slide .hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 60px;
  padding-bottom: 60px;
}
.hero-section .sw-con .swiper .swiper-slide .hero-text p {
  line-height: 1.4;
  padding: 15px 83px 16px 8px;
  color: rgba(83, 63, 63, 0.8705882353);
  font-weight: 600;
}
.hero-section .sw-con .swiper .swiper-slide .hero-text .hero-button .h-btn {
  padding: 0.8rem 1rem;
}
.hero-section .sw-con .swiper .swiper-button-next {
  right: 0;
  left: auto;
  color: #f8f5f2;
}
.hero-section .sw-con .swiper .swiper-button-next::after {
  font-family: swiper-icons;
  font-size: 20px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  padding: 8px 8px 8px 6px;
  background: #ad795b;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.hero-section .sw-con .swiper .swiper-button-prev {
  left: 0;
  right: auto;
  color: #f8f5f2;
}
.hero-section .sw-con .swiper .swiper-button-prev::after {
  font-family: swiper-icons;
  font-size: 20px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  padding: 8px 8px 8px 6px;
  background: #ad795b;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.hero-section .sw-con .swiper .swiper-pagination .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #cf9f78;
}
.hero-section .sw-con .swiper .hero-card-container {
  position: absolute;
  bottom: 0%;
  left: 0%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.hero-section .sw-con .swiper .hero-card-container .hero-card-box {
  display: flex;
  gap: 3rem;
  padding: 0px 57px;
  justify-content: center;
  align-items: center;
}
.hero-section .sw-con .swiper .hero-card-container .hero-card-box .hero-card {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section .sw-con .swiper .hero-card-container .hero-card-box .hero-card .textContent {
  display: flex;
  font-size: 32px;
  font-weight: 600;
  color: #ad795b;
  text-align: center;
}
.hero-section .sw-con .swiper .hero-card-container .hero-card-box .hero-card .hcard-span {
  font-size: 19px;
  color: #cf9f78;
  font-weight: 500;
  line-height: 1.3;
}

.card-section .card-container {
  margin: 88px;
  background: #f8f5f2;
}
.card-section .card-container .swiper {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
}
.card-section .card-container .swiper .swiper-slide {
  display: flex;
  height: 100%;
  padding: 15px;
}
.card-section .card-container .swiper .swiper-slide .flip-card {
  perspective: 1000px;
  min-height: 400px; /* Set a minimum height for the flip card */
}
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner:hover {
  transform: rotateY(180deg);
}
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner .front,
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner .back {
  position: absolute;
  top: 0; /* Set the top and left properties to ensure */
  left: 0; /* the front and back cards are overlaid on each other */
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner .flip-card-front {
  background-color: transparent;
  min-height: 400px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1; /* Ensure the front card stays on top initially */
}
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner .flip-card-front img {
  -o-object-fit: cover;
     object-fit: cover; /* This will ensure the image covers the entire container */
  width: 100%;
  height: 100%;
  min-height: 400px;
  border-radius: 20px;
}
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner .flip-card-front .flip-text {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  top: 85%;
  width: 100%;
  border-radius: 5px;
}
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner .flip-card-back {
  box-sizing: border-box; /* make padding included in the height */
  background-color: #f8f5f2;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
}
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner .flip-card-back .content-container {
  padding: 20px 15px;
  height: 100%;
  overflow-y: auto;
}
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner .flip-card-back .content-container h5 {
  margin: 5px 0;
  text-align: center;
  font-size: 23px;
  text-transform: capitalize;
  font-weight: 600;
  color: #ad795b;
}
.card-section .card-container .swiper .swiper-slide .flip-card .flip-card-inner .flip-card-back .content-container p {
  margin: 10px 0;
  text-align: center;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;
  color: rgba(83, 63, 63, 0.8705882353);
  line-height: 1.5;
}
.card-section .card-container .swiper .swiper-slide .card {
  border-radius: 23px;
  padding: 15px;
  box-shadow: rgba(181, 90, 17, 0.6117647059) 2px 3px 8px -3px;
  cursor: pointer;
  width: 100%;
  box-shadow: rgba(181, 90, 17, 0.6117647059) 2px 3px 8px -3px;
}
.card-section .card-container .swiper .swiper-slide .card:hover {
  background: rgba(233, 220, 203, 0.19);
}
.card-section .card-container .swiper .swiper-slide .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}
.card-section .card-container .swiper .swiper-slide .card h3 {
  text-align: center;
  font-size: 23px;
  text-transform: capitalize;
  font-weight: 600;
  color: #ad795b;
}
.card-section .card-container .swiper .swiper-slide .card p {
  text-align: center;
  padding: 2px 19px 5px 19px;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;
  color: rgba(83, 63, 63, 0.8705882353);
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-section .card-container .swiper .swiper-slide .card .card-btn {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}
.card-section .card-container .swiper .swiper-button-next {
  right: 0;
  left: auto;
  color: #cf9f78;
}
.card-section .card-container .swiper .swiper-button-next::after {
  font-family: swiper-icons;
  font-size: 30px;
  font-weight: 800;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  padding: 8px 8px 8px 6px;
}
.card-section .card-container .swiper .swiper-button-prev {
  left: 0;
  right: auto;
  color: #cf9f78;
}
.card-section .card-container .swiper .swiper-button-prev::after {
  font-family: swiper-icons;
  font-size: 30px;
  font-weight: 800;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  padding: 8px 8px 8px 6px;
}
.card-section .card-container .swiper .swiper-pagination .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #cf9f78;
}

.about-section {
  background-color: #b57e5d;
}
.about-section .about-card-container {
  margin: 30px 88px;
}
.about-section .about-card-container .about-card {
  display: flex;
  gap: 6rem;
  padding: 12px 15px;
}
.about-section .about-card-container .about-card .about-left {
  width: 50%;
  padding: 35px 20px;
  margin: 20px;
  display: flex;
}
.about-section .about-card-container .about-card .about-left img {
  width: 100%;
  border-radius: 5%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.about-section .about-card-container .about-card .about-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-section .about-card-container .about-card .about-right h3 {
  font-size: 40px;
  color: #f8f5f2;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.about-section .about-card-container .about-card .about-right p {
  padding-left: 18px;
  padding-right: 114px;
  padding-bottom: 12px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: #f8f5f2;
}
.about-section .about-card-container .about-card .about-right .about-span {
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.about-section .about-card-container .about-card .about-right .about-span .about-text-span {
  display: flex;
  gap: 10px;
}
.about-section .about-card-container .about-card .about-right .about-span .about-text-span img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.about-section .about-card-container .about-card .about-right .about-span .about-text-span .about-span-para {
  font-size: 14px;
  font-weight: 600;
  color: #f8f5f2;
  text-transform: capitalize;
  padding-left: 0px;
  padding-bottom: 14px;
}
.about-section .about-card-container .about-card .about-right .about-button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.service-section .service-container {
  margin: 88px;
  background: #f8f5f2;
}
.service-section .service-container .service-col {
  display: flex;
}
.service-section .service-container .service-col .service-left {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 50%;
  justify-content: center;
}
.service-section .service-container .service-col .service-left h3 {
  font-size: 42px;
  padding-top: 10px;
  padding-left: 23px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.service-section .service-container .service-col .service-left p {
  padding-left: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: rgba(209, 134, 60, 0.9803921569);
  text-transform: capitalize;
}
.service-section .service-container .service-col .service-left .service-span {
  display: flex;
  flex-direction: column;
  padding-left: 31px;
  padding-top: 19px;
  padding-bottom: 12px;
}
.service-section .service-container .service-col .service-left .service-span .service-text-span {
  display: flex;
  gap: 10px;
}
.service-section .service-container .service-col .service-left .service-span .service-text-span img {
  width: 25px;
  height: 25px;
}
.service-section .service-container .service-col .service-left .service-span .service-text-span .service-span-para {
  font-size: 14px;
  font-weight: 600;
  color: rgba(159, 81, 3, 0.8784313725);
  text-transform: capitalize;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 14px;
}
.service-section .service-container .service-col .service-left .service-button {
  text-align: start;
  padding: 0px 35px;
}
.service-section .service-container .service-col .service-right {
  padding: 10px 40px;
}
.service-section .service-container .service-col .service-right .service-card {
  display: flex;
  gap: 40px;
  padding: 18px 10px;
  text-align: center;
}
.service-section .service-container .service-col .service-right .service-card .service-link {
  text-decoration: none;
}
.service-section .service-container .service-col .service-right .service-card .service-link .scard {
  width: 223px;
  padding: 14px;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: rgba(181, 90, 17, 0.6117647059) 2px 3px 8px -3px;
  cursor: pointer;
}
.service-section .service-container .service-col .service-right .service-card .service-link .scard:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: rgba(181, 90, 17, 0.2) 0px 0px 20px 0px;
}
.service-section .service-container .service-col .service-right .service-card .service-link .scard img {
  width: 50px;
  height: 50px;
}
.service-section .service-container .service-col .service-right .service-card .service-link .scard .scard-heading {
  padding: 10px 0px;
  font-size: 19px;
  text-transform: capitalize;
  color: rgba(164, 65, 8, 0.7019607843);
}
.service-section .service-container .service-col .service-right .service-card .service-link .scard .scard-paragraph {
  padding: 2px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(181, 90, 17, 0.6117647059);
  text-transform: capitalize;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.service-section .service-container .treatment-btn {
  text-align: center;
  margin: 10px 0;
}

.popular-service-section .p-service-container {
  margin: 30px 88px;
  background: #f8f5f2;
}
.popular-service-section .p-service-container .p-cardbox {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px 0px;
}
.popular-service-section .p-service-container .p-cardbox .p-service-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.popular-service-section .p-service-container .p-cardbox .p-service-card .p-card-text {
  border-radius: 20px;
  padding: 10px;
  width: 220px;
  box-shadow: rgba(181, 90, 17, 0.6117647059) 2px 2px 6px -4px;
}
.popular-service-section .p-service-container .p-cardbox .p-service-card .p-card-text img {
  width: 50px;
  height: 50px;
  padding-top: 5px;
  opacity: 1.5;
}
.popular-service-section .p-service-container .p-cardbox .p-service-card .p-card-text:hover {
  filter: opacity(1) drop-shadow(0 0 0 brown);
}
.popular-service-section .p-service-container .p-cardbox .p-service-card .p-card-text h4 {
  font-size: 19px;
  font-weight: 800;
  text-transform: capitalize;
  color: rgba(164, 65, 8, 0.7019607843);
}
.popular-service-section .p-service-container .p-cardbox .p-service-card .p-card-text p {
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(181, 90, 17, 0.6117647059);
  text-transform: capitalize;
}
.popular-service-section .p-service-container .p-cardbox .p-service-card .p-card-img {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 220px;
  height: 265px;
}
.popular-service-section .p-service-container .p-cardbox .p-service-card .p-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.subscription-section .subscription-container {
  margin: 88px;
  padding: 30px;
}
.subscription-section .subscription-container h3 {
  text-align: center;
  font-size: 45px;
}
.subscription-section .subscription-container .subscription-cardbox {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card {
  display: flex;
  padding: 40px;
  width: 100%;
  justify-content: space-between;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: rgba(181, 90, 17, 0.6117647059) 2px 3px 8px -3px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col:hover {
  background-color: #fff;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col .sub-card {
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col .sub-card h3 {
  font-size: 25px;
  font-family: 700;
  color: #ad795b;
  text-transform: capitalize;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col .sub-card p {
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #cf9f78;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col .sub-card h4 {
  font-size: 30px;
  text-transform: capitalize;
  color: rgba(164, 65, 8, 0.7019607843);
  margin: 10px 0;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col .sub-card .sub-text {
  padding: 0 30px;
  margin: 15px 0;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col .sub-card .sub-text h5 {
  font-size: 19px;
  border-radius: 15px;
  text-transform: capitalize;
  color: #f8f5f2;
  background-color: #cf9f78;
  padding: 8px 0;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col .sub-card .sub-btn {
  margin: 10px 0;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col .sub-card .sub-card-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col .sub-card .sub-card-col img {
  width: 20px;
  height: 20px;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-card .subcription-card-col .sub-card .sub-card-col span {
  margin: 7px;
  font-size: 14px;
  font-weight: 500;
  color: #cf9f78;
  text-transform: capitalize;
}
.subscription-section .subscription-container .subscription-cardbox .subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.medicine-section .medicine-container {
  margin: 30px 88px;
  display: none;
  background-color: rgba(255, 246, 237, 0.4784313725);
}
.medicine-section .medicine-container .medicine-card {
  display: flex;
  gap: 6rem;
  padding: 32px 15px;
}
.medicine-section .medicine-container .medicine-card .medicine-left {
  width: 50%;
  margin-top: 30px;
  padding-left: 48px;
}
.medicine-section .medicine-container .medicine-card .medicine-left img {
  width: 80%;
  height: 350px;
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.medicine-section .medicine-container .medicine-card .medicine-right {
  width: 50%;
}
.medicine-section .medicine-container .medicine-card .medicine-right h3 {
  padding-top: 10px;
  padding-left: 23px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 800;
  color: #ad795b;
  text-transform: capitalize;
}
.medicine-section .medicine-container .medicine-card .medicine-right p {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 26px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: rgba(209, 134, 60, 0.9803921569);
}
.medicine-section .medicine-container .medicine-card .medicine-right .facilities {
  display: flex;
  padding-top: 10px;
}
.medicine-section .medicine-container .medicine-card .medicine-right .facilities .medicine-spanbox {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  gap: 10px;
}
.medicine-section .medicine-container .medicine-card .medicine-right .facilities .medicine-spanbox .medicine-span {
  display: flex;
  padding: 8px 0px;
}
.medicine-section .medicine-container .medicine-card .medicine-right .facilities .medicine-spanbox .medicine-span img {
  width: 20px;
  height: 20px;
}
.medicine-section .medicine-container .medicine-card .medicine-right .facilities .medicine-spanbox .medicine-span h5 {
  font-size: 15px;
  font-weight: 800;
  color: #ad795b;
  padding-left: 5px;
  text-transform: capitalize;
}
.medicine-section .medicine-container .medicine-card .medicine-right .medicine-button {
  padding: 20px 40px;
}

.review-section {
  background-color: #b57e5d;
}
.review-section .review-container {
  margin: 88px 0;
  padding: 40px 0;
}
.review-section .review-container .review-text {
  padding: 10px 15px;
}
.review-section .review-container .review-text h4 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #f8f5f2;
}
.review-section .review-container .review-cardbox {
  display: flex;
  padding: 13px 0;
  justify-content: center;
  align-items: center;
}
.review-section .review-container .review-cardbox .swiper {
  width: 100%;
  height: 100%;
  padding: 20px 60px;
  position: relative;
}
.review-section .review-container .review-cardbox .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 230px;
  height: 230px;
  border-radius: 50%;
}
.review-section .review-container .review-cardbox .swiper .swiper-slide .r-card {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.review-section .review-container .review-cardbox .swiper .swiper-button-next {
  right: 0;
  left: auto;
  color: #f8f5f2;
}
.review-section .review-container .review-cardbox .swiper .swiper-button-next::after {
  font-family: swiper-icons;
  font-size: 30px;
  font-weight: 800;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  padding: 8px 8px 8px 6px;
}
.review-section .review-container .review-cardbox .swiper .swiper-button-prev {
  left: 0;
  right: auto;
  color: #f8f5f2;
}
.review-section .review-container .review-cardbox .swiper .swiper-button-prev::after {
  font-family: swiper-icons;
  font-size: 30px;
  font-weight: 800;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  padding: 8px 8px 8px 6px;
}
.review-section .review-container .review-cardbox .swiper .swiper-pagination .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #f8f5f2;
}

.faq-section .faq-container {
  margin: 88px;
  background: #f8f5f2;
}
.faq-section .faq-container .faq-card {
  display: flex;
  gap: 6rem;
  padding: 32px 15px;
}
.faq-section .faq-container .faq-card .faq-left {
  width: 50%;
  padding-top: 111px;
  padding-right: 20px;
  margin-top: 20px;
}
.faq-section .faq-container .faq-card .faq-left img {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px;
}
.faq-section .faq-container .faq-card .faq-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.faq-section .faq-container .faq-card .faq-right .faq-heading h3 {
  padding-top: 10px;
  padding-left: 23px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: 800;
  color: #ad795b;
  text-transform: capitalize;
}
.faq-section .faq-container .faq-card .faq-right .accordion {
  width: 90%;
  max-width: 1000px;
  margin: 5px;
}
.faq-section .faq-container .faq-card .faq-right .accordion .accordion-item {
  background-color: #f8f5f2;
  color: #cf9f78;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.faq-section .faq-container .faq-card .faq-right .accordion .accordion-item .accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.faq-section .faq-container .faq-card .faq-right .accordion .accordion-item .accordion-item-header::after {
  content: "+";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.faq-section .faq-container .faq-card .faq-right .accordion .accordion-item .accordion-item-header.active::after {
  content: "−";
}
.faq-section .faq-container .faq-card .faq-right .accordion .accordion-item .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.faq-section .faq-container .faq-card .faq-right .accordion .accordion-item .accordion-item-body .accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  -o-border-image: linear-gradient(to right, transparent, #ad795b, transparent);
     border-image: linear-gradient(to right, transparent, #ad795b, transparent);
}

.testimonial-section {
  background-color: rgb(243, 218, 185);
}
.testimonial-section .testimonial-container {
  padding: 40px;
}
.testimonial-section .testimonial-container .testimonial-text h5 {
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
  color: #cf9f78;
  margin: 10px 15px;
}
.testimonial-section .testimonial-container .testimonial-text h4 {
  font-size: 25px;
  font-weight: 800;
  text-transform: capitalize;
  color: #ad795b;
  margin: 0px 15px;
}
.testimonial-section .testimonial-container .swiper {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
}
.testimonial-section .testimonial-container .swiper .swiper-slide {
  display: flex;
  height: 100%;
  padding: 15px;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card {
  display: flex;
  flex-direction: column;
  width: 357px;
  box-shadow: rgba(41, 77, 239, 0.1098039216) 5px 5px 12px -2px;
  background-color: rgba(255, 255, 255, 0.862745098);
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-shadow: #cf9f78 5px 5px 12px -2px;
  cursor: pointer;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-icon {
  text-align: right;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-icon img {
  width: 32px;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details {
  display: flex;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user-img {
  margin-top: -8px;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user-img img {
  width: 60px;
  border-radius: 50%;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user {
  display: flex;
  flex-direction: column;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-name {
  padding: 0 10px;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-name h5 {
  font-size: 17px;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate:not(:checked) > label {
  float: right;
  width: 26px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 23px;
  color: #ccc;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate:not(:checked) > label:before {
  content: "★ ";
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate > input:checked ~ label {
  color: #ffc700;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate:not(:checked) > label:hover,
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate > input:checked + label:hover,
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate > input:checked + label:hover ~ label,
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate > input:checked ~ label:hover,
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate > input:checked ~ label:hover ~ label,
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card .testimonial-details .testimonial-user .testimonial-rating .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.testimonial-section .testimonial-container .swiper .swiper-slide .testimonial-card p {
  padding: 0px 5px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(181, 90, 17, 0.6117647059);
  text-transform: capitalize;
}
.testimonial-section .testimonial-container .swiper .swiper-button-next {
  right: 0;
  left: auto;
  color: #cf9f78;
}
.testimonial-section .testimonial-container .swiper .swiper-button-next::after {
  font-family: swiper-icons;
  font-size: 30px;
  font-weight: 800;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  padding: 8px 8px 8px 6px;
}
.testimonial-section .testimonial-container .swiper .swiper-button-prev {
  left: 0;
  right: auto;
  color: #cf9f78;
}
.testimonial-section .testimonial-container .swiper .swiper-button-prev::after {
  font-family: swiper-icons;
  font-size: 30px;
  font-weight: 800;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  padding: 8px 8px 8px 6px;
}
.testimonial-section .testimonial-container .swiper .swiper-pagination .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #cf9f78;
}

.quoteCardmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.quoteCardmodal.active {
  display: flex;
}
.quoteCardmodal .modal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14vh;
}
.quoteCardmodal .modal-section .modal-card {
  width: 40%;
  background-color: #fff;
  padding: 2vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quoteCardmodal .modal-section .modal-card .head-box {
  /* border: 1px solid magenta; */
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px 0;
}
.quoteCardmodal .modal-section .modal-card .head-box h3 {
  margin: 0;
  font-size: 26px;
  text-transform: capitalize;
  color: #ad795b;
}
.quoteCardmodal .modal-section .modal-card .head-box span {
  position: absolute;
  top: -2.5vw;
  right: -1vw;
  font-size: 1.5vw;
  cursor: pointer;
}
.quoteCardmodal input,
.quoteCardmodal textarea {
  text-transform: capitalize;
  color: #777;
  font-size: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 13px 20px;
  letter-spacing: 0;
  background-color: transparent;
  line-height: inherit;
  width: 100%;
  margin-bottom: 14px;
  height: auto;
  text-shadow: none;
  box-shadow: none;
  box-sizing: border-box;
  transition: border ease 0.238s;
}

.quoteSubscriptionmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.quoteSubscriptionmodal.active {
  display: flex;
}
.quoteSubscriptionmodal .modal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14vh;
}
.quoteSubscriptionmodal .modal-section .modal-card {
  width: 40%;
  background-color: #fff;
  padding: 2vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quoteSubscriptionmodal .modal-section .modal-card .head-box {
  /* border: 1px solid magenta; */
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px 0;
}
.quoteSubscriptionmodal .modal-section .modal-card .head-box h3 {
  margin: 0;
  font-size: 26px;
  text-transform: capitalize;
  color: #ad795b;
}
.quoteSubscriptionmodal .modal-section .modal-card .head-box span {
  position: absolute;
  top: -2.5vw;
  right: -1vw;
  font-size: 1.5vw;
  cursor: pointer;
}
.quoteSubscriptionmodal input,
.quoteSubscriptionmodal textarea {
  text-transform: capitalize;
  color: #777;
  font-size: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 13px 20px;
  letter-spacing: 0;
  background-color: transparent;
  line-height: inherit;
  width: 100%;
  margin-bottom: 14px;
  height: auto;
  text-shadow: none;
  box-shadow: none;
  box-sizing: border-box;
  transition: border ease 0.238s;
}

.quoteReviewmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.quoteReviewmodal.active {
  display: flex;
}
.quoteReviewmodal .modal-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quoteReviewmodal .modal-section .modal-card {
  width: 40%;
  padding: 2vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quoteReviewmodal .modal-section .modal-card .head-box {
  /* border: 1px solid magenta; */
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px 0;
}
.quoteReviewmodal .modal-section .modal-card .head-box h3 {
  margin: 0;
  font-size: 26px;
  text-transform: capitalize;
  color: #ad795b;
}
.quoteReviewmodal .modal-section .modal-card .head-box span {
  position: absolute;
  top: -2.5vw;
  right: -19vw;
  font-size: 1.5vw;
  color: #ffffff;
  cursor: pointer;
}
.quoteReviewmodal .modal-section .modal-card .modalVideoCard {
  width: 48vw;
  height: 32vw;
}/*# sourceMappingURL=home.css.map */